.admin-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
  color: #333;
  padding: 10px 100px;
}

#book-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 40px;
  margin-bottom: 30px;
}

#book-form input,
#book-form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #e0e0e0;
  font-size: 15px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: auto; 
  margin-left: 5px; 
}

#error-message {
  color: red;
  font-size: 14px;
}

#book-list {
  padding: 0;
  width: 100%;
}

#book-list li {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#book-list li button {
  width: 100px; 
  padding: 8px 10px;
  font-size: 14px; 
}

.read {
  opacity: 0.6;
}
